/* Empty. Add your own CSS if you like */
.accountcontent{
	margin-left:20px; 
	margin-top:32px;
}
.accountsubcontent{
	margin-left:20px; 
	margin-top:10px;
}
.actionbar-Text{
	color:#000;
	margin-left:15px;
	padding-top:20px;
}
.bg{
	color: #c0bdbd !important;
	font-size: 18px!important;
	
}

.tabs-color-dark>.tabs{
	
   color: #000 !important
}
.barcol{
	background-color:#00B1DA;
}
.bgnew{
	background-color:#EDECEC !important;
}
.back-icon{
	margin-left:10px;
	font-size:30px;	
}
.column1{
	margin-left:90px;
}
.col1{
	background:     #ebdef0 ;
	padding: 10px;
	margin-left:50px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.content-head{
	font-size:18px;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	color: #8f8f8f;
}
.coli{
    background: -webkit-linear-gradient( #FF9C1B , #FFC837); /* Chrome 10-25, Safari 5.1-6 */
}
.centerforhead {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.contactfont{
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 20px;	
}
.cardshadow{
	box-shadow: 0px 0px 15px 1px rgba(144,144,144,0.73);
}
.cardshadow1{
	box-shadow: 0px 0px 45px 1px rgba(144,144,144,0.73);
}
.cardContent{
	margin-left:05px ! important;	
}
.cardContent1{
	margin-left:10px;
	margin-top:50px; 
}
.card_margin{
	width:95%;
	margin-left:20px;	
}
.cardborder{
	height:120px;	
}
.chevronicon{
	font-size:16px ! important;
}
.custom {
	background-color: pink; /* This sets the background color*/
 }
.custom .item {
	background-color: transparent; 
	border-bottom:0px;   
	border-color: transparent;    
}
.contact-content{
	margin-left:15px;
	margin-top:4px;
}
.colvertical{
	border-right:1px solid;
	border-right-color: #e0e0e0;
	height:50px;
}
.formselect{
	width:100%; 
	border-bottom:#DEDEDE solid; 
	margin-left:5px; 
	border-top:none; 
	border-left:none; 
	border-right:none;
}
.formcard{
	margin-left:10px;
}
.formlabel{
   border:none;
}
#forminput{
	color:#444; 
	padding-left:0px; 
} 
.formButton{
	border-radius:4px;
	font-size:18px;
	width:90px;
}
.formButton1{
	border-radius:4px;
	font-size:18px;
	width:125px;
	background-color:#F4851F !Important;
	font-family: 'Avenir Next LT Pro' !Important;
	font-weight: normal !Important;
	font-style: normal !Important;
	color:#fff !important;
	padding-top: 2px !important;
}
.footerborder{
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 15px;
	background-color:#E67E22;	
}
.footerborder .title {
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
}
.footertext{	
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:#fff;
}
.footertext1{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:#444;
}
.footer{
	background-color:#F4851F;
}
a{
  text-decoration: none;
}
.home-head {
	font-size:20px;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	color:#000;
	padding-top: 3px;
	border-bottom:2px; 
}
.home-head1
{
	font-size:14px;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	color: #454b4e;
}
.HeadLine{
	color:#000;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size:18px;
}
.headerbotborder{
	border-bottom-width:2px !important;
	border-bottom-color:#454b4e !important; 
}
.headertitle{
	margin-top:5px;
	margin-left:20px;
}
.head-details
{
	font-size: 16px;
	color:#5985AF !important;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
}
.head-details1
{
	font-size: 16px;
	color: #e67e22;
}
.has-errors {
	border-bottom: 2px solid #B83E2C;
} 
.head_detail
{
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	color: #f4851f;
	text-align:center;
	margin-top:15px;
}
.head-details
{
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	color: #C0BDBD;
	text-align:center;
	margin-top:15px;
}
.head-details1
{
	font-size: 16px;
	color: #e67e22;
}
.headerborder
{
	background-color:#E67E22;
}
.home-head2 {
	font-size:20px;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	color:#fff;
	padding-top: 3px;
	margin-left:10px;
}


hr{
	color: #e0e0e0 !important;
}
.headercolor{
	background: -webkit-linear-gradient(left,
	#b74806,
	#d05207,
	#D65E09,
	#d8640a,
	#E3741B,
	#ef6e0b,
	#f57b1d,
	#f68833,
	#f7954a
)!important ;/* Chrome 10-25, Safari 5.1-6 */  
}
.hsacard-height{
	height:100px;
}
.Home-Button{
	background-color:#e67e22;
	color:#fff;
	border-radius:8px;	
}
.Home-ButtonRight{
	float:right;
	background-color:#e67e22;
	color:#fff;
	border-radius:8px;
}
.item1{
	background-color: #F4F4F4;
	font-size: 20px;
}
.item-select select
{
	left:0;
    right: auto;
    padding: 13px 45px 15px 10px;
    direction: ltr;
	max-width: 100%;
    width: 100%;
}
.ItemlineHead1{
	color:#5985AF;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
}
.ItemlineValueText{
	color:#566571;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	padding-top: 20px;
	line-height:24px;
	
}
.ItemHeadLine{
	color:#F4851F;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size:22px;
	
}
.ItemLinehr{
	border-color:#F4851F !important;
}
.lineBreakHeader{
	border-bottom: thin solid #cae4ee; 
	padding-top:10px;
}
.lineBreak{
	border-bottom: thin solid #00aff0;
	color:#077db4;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size:18px;
	width: 95%;
	margin-top: -10px;
}
.lineValueText{
	color:#868686;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	padding-top: 0px;
}
.lineHead{
	color:#000;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	padding-top: 4px;	
}
.login-Label{
	background-color:#F3F3F3;
	border-radius:10px;
}
.login-insetInput{
	border-radius:10px;
}
.login-Button{
	background-color: #547AAC;
	color:#fff;
	height:35px;
	font-size:15px;
	border-radius:8px;
}
.lineHead1{
	color:#fff;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	padding-top: 6px;
}

.lineValueText1{
	color:#fff;
	font-size: 16px;
	padding-top: 3px;
}
.link{
	color: #444444;
}
.linehr{
	border-bottom: thin solid #e0e0e0;
	width: 100%;
	margin-top: -10px;
}
.mynavbar{
	height: 200px !important;
	background: black !important
}
.menupadding{
	margin-top:10px;
}
.menufooter{
	border-top-width:2px;
	border-top-color:#454b4e;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 15px;
	background-color:#DDDEDF;
}
.menufooter-text{	
	margin-left:auto;
	margin-right:auto;
	text-align:center;	
}
.menu-height{
	height:140px; 	
}
.menu-head{
	padding-top: 25px;
}
.claim-menu-head{
	padding-top: 10px;
}
.menufont{
	font-family: 'Avenir Next LT Pro';
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
}
.MenuToggle-btn{
	color: white;
	font-size:45px;
}
.Main-Heading{
	color:#fff; 
	margin-top:20px !important; 
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size:22px;
}
.no-errors {
	border-bottom: 2px solid green;

}
.no-padding {
    padding: 0px !important;
}
.newTop{
	margin-top:20px;
}
.runstatement-button{
	height:40px;
	border-radius:4px;
	font-size:18px;
	background-color:#F4851F !Important;
	font-family: 'Avenir Next LT Pro' !Important;
	font-weight: normal !Important;
	font-style: normal !Important;
	color:#fff !important;
	padding-top: 2px !important;
}
.readMore{
	color:#566571;
	text-align:center;
	margin-top:15px;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
}
.readMore1
{
	float:right;
	color:#f4851f;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
}
.row-border{
	margin-top:10px;
	border-top: thin solid;
	border-top-color: #e0e0e0;
}
.subtitle{
	margin-left:20px; 
	margin-top:20px;
}
.sub-head {
	font-size:20px;
	font-family: 'Avenir Next LT Pro';
	color: #00aff0;
	font-weight: normal;
	font-style: normal;
}
.shadow {
	box-shadow: 0 10px 10px -10px #999999;
}
.text-center1{
	text-align: center;
	font-size:35px;
}
.tabs-background-stable>.tabs{
	margin-top:45px;
	background-color: #fff !important;
}
 .tabs-striped.tabs-custom .tab-item.tab-item-active  {
    margin-top: -1px;
    color: #f4851f ! important;   
    border-bottom-width: 3px ! important;
    border-color: #f4851f; 
	font-weight:bold;
}

.togglemenu{
	position: absolute;
	width: 200px;
	height: 100%;
	right: 10px;
	margin-top:-5px; 
	background: #f7f7f7;
	z-index: 1;
	font-family: 'Avenir Next LT Pro';
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	color:#5985AF;
}
.togglemenu-text{
	
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;   
}


.ItemlineHead{
	color:#5985AF;
	font-family: 'Avenir Next LT Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	padding-top: 5px;
	line-height:4px !important;
}
@media  (max-width: 500px) {
    .ItemlineHead {
       line-height:16px !important; 
    }
}
@media (max-width: 641px) {
    .ItemlineHead {
       line-height:16px !important;
    }
}


input,select{
	color:#566571 !important;
	font-family: 'Avenir Next LT Pro' !important;
	font-size: 16px !important;
	font-weight: normal !important;
	font-style: normal !important;
}


.item-avatar > img:first-child{
    border-radius: 0% !important;
}

.itemleft{
	left:08px;
}


ion-item.div:hover a {
	background-color: #dedede ! important;
}
ion-item.item:hover a {
	background-color: slategray;  
	-webkit-transition: background-color 2000ms ease-out;
	-moz-transition: background-color 2000ms ease-out;
	transition: background-color 2000ms ease-out;
}
.submenu-text{
	margin-left: 50px;
	margin-top:-25px;
}
.Submenu-height{
	margin-left: 30px; 
	margin-top: 17px;
}
.Submenu-height:hover{
	background-color: slategray; 
    -webkit-transition: background-color 2000ms ease-out;
    -moz-transition: background-color 2000ms ease-out;
    transition: background-color 2000ms ease-out;	 
}
.sidemenu-Logo{
	margin-top:9px;
}
.sidemenu-BottomBorder{
	border-left:none;
	border-right:none;
	border-top:none;
	color: #fff;
	padding: 7px 14px; 
	position: relative;
}
.tab-Content{
	margin-top:46px;
}
.header-Actionbar{
	height:20px;
	margin-top:25px;
	margin-right:15px;
	float:right;
}
@media screen and (max-width: 464px) {
	.header-Actionbar{
		height:20px;
		margin-top:25px;
		margin-left:-12px;
	}
}
.item-text-wrap{
	line-height:17px ! important;
}

	
input::-webkit-input-placeholder {
color: #566571!important;
 opacity: 1;
}
 
input:-moz-placeholder { 
color: #566571!important; 
 opacity: 1; 
}
 
input::-moz-placeholder {  
 color: #566571!important;  
  opacity: 1;
} 
.ion-android-upload{
	
	font-size:23px !important;
	margin-right:10px;
	margin-top:10px;
 }
 .Select-Float{
	margin-left:20px;
	margin-bottom:-9px;
 }
 /* .SelectColor{
	 color:#C2C5C8! important;
 }
	.red{
  color:#6CA0DA;
}

.blue{
  color:blue;
}
select option{
	color:red;
}
.placeholder{
	color:#aaa;
}
select option:disabled {
    color: pink;
} */