<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.sterling.admin" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Sterling Administration</name>
  <description>
        Sterling Administration  App for HSA,FSA,HRA and COBRA
    </description>
  <author email="customer.service@sterlingadministration.com" href="http://www.sterlinghsa.com/">
      Sterling Administration
    </author>
	
	<plugin name="cordova-plugin-network-information" source="npm" />
	<plugin name="cordova-plugin-device" source="npm" />
	<plugin name="cordova-plugin-inappbrowser" source="npm"/>
	<!-- <plugin name="cordova-plugin-camera" source="npm"/> -->
	<plugin name="cordova-plugin-datepicker" source="npm"/>
	<plugin name="cordova-plugin-dialogs" source="npm"/>
	<plugin name="cordova-plugin-file" source="npm"/>
	<plugin name="cordova-plugin-file-transfer" source="npm"/>
	<plugin name="cordova-plugin-file-opener2" source="npm"/>
	<plugin name="cordova-plugin-splashscreen" source="npm"/>
	<plugin name="cordova-plugin-whitelist" source="npm"/>
	<plugin name="cordova-plugin-itunesfilesharing" source="npm"/>
	<plugin name="cordova-plugin-camera" spec="~2.3.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="capture the claim receipt" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="choose the claim receipt" />
    </plugin>
	
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="cdvfile://*" />
  <allow-navigation href="cdvfile:*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  
  <!-- <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" /> -->
  
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
 
  <platform name="android" >
	<icon src="SterlingIcon.png"/>
	<splash src="splash/drawable-port-ldpi-screen.png" density="port-ldpi"/>
	<splash src="splash/drawable-port-mdpi-screen.png" density="port-mdpi"/>
	<splash src="splash/drawable-port-hdpi-screen.png" density="port-hdpi"/>
	<splash src="splash/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
	<splash src="splash/drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
	<splash src="splash/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
	<preference name="AndroidPersistentFileLocation" value="Compatibility" />
  </platform>
  <platform name="ios">
	<!-- <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
        <string>upload receipt</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        <string>upload receipt</string>
    </config-file> -->
	<icon height="57" src="Icons/ios/icon.png" width="57" />
    <icon height="40" src="Icons/ios/icon-40.png" width="40" />
    <icon height="80" src="Icons/ios/icon-40@2x.png" width="80" />
    <icon height="120" src="Icons/ios/icon-40@3x.png" width="120" />
    <icon height="60" src="Icons/ios/icon-60.png" width="60" />
    <icon height="120" src="Icons/ios/icon-60@2x.png" width="120" />
    <icon height="180" src="Icons/ios/icon-60@3x.png" width="180" />
    <icon height="29" src="Icons/ios/icon-small.png" width="29" />
    <icon height="58" src="Icons/ios/icon-small@2x.png" width="58" />
    <icon height="87" src="Icons/ios/icon-small@3x.png" width="87" />
	<!-- iPhone and iPod touch -->
	<splash src="Icons/splash/Default.png" platform="ios" width="320" height="480" />
	<splash src="Icons/splash/Default@2x.png" platform="ios" width="640" height="960" />

	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<splash src="Icons/splash/Default-568h@2x.png" platform="ios" width="640" height="1136" />

	<!-- iPhone 6 -->
	<splash src="Icons/splash/Default-667h@2x.png" platform="ios" width="750" height="1334" />
	<splash src="Icons/splash/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />


	<!-- iPad -->
	<splash src="Icons/splash/Default-Portrait.png" platform="ios" width="768" height="1024" />

	<!-- Retina iPad -->
	<splash src="Icons/splash/Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />

	<!-- <preference name="iosExtraFilesystems" value="documents" />
  	<preference name="iosPersistentFileLocation" value="Library" />  -->

  	<!-- <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root"/> -->

  	<preference name="iosPersistentFileLocation" value="Library" />

	<preference name="iosPersistentFileLocation" value="Compatibility" />

  </platform>
</widget>
