<ion-header-bar id="headerborder" class="headerborder" >
	<div class="home-head2 " ng-click="goback();">
		<i ng-click="goback();" class="ion ion-arrow-left-c back-icon"></i>
	</div>
	<div class="home-head2 ">
		<p class="headertitle">Card Claim</p>
	</div>
</ion-header-bar>
	<style>
		.div{
			text-align: center;
			padding: 25px;
		}
	</style>
<ion-view hide-nav-bar="false">
  <ion-content scroll="false" class="bgnew">
   <div class="div newTop"> 
		<a href="#/hraclaimview" menu-close >
			<img src="img/home/Activity_statements.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Claim Detail</p>
		</a>
    </div>
     <div class="div">
		<a href="#/hranewcardclaimview" menu-close >
			<img src="img/home/ad-client.svg" style="height: 100px; width: 100px;">
			<p class="home-head">New Claim</p>
		</a>
    </div>
  </ion-content>
</ion-view>