<ion-header-bar class="headerborder" >
    <div class="home-head2 " ng-click="goback();">
		<i ng-click="goback();" class="ion ion-arrow-left-c back-icon"></i>
    </div>
    <div class="home-head2 ">
		<p style="margin-top:5px;margin-left:20px">Pay Provider</p>
	</div>
</ion-header-bar>

<ion-view>
	<ion-content class="bgnew">
		<form name="myForm">
			<div class="row responsive-sm">
				<div class="col col-75 center">
					<div class="card">
						<div class="item item-avatar">
							<img src="img/item/account_balance.png">
							<div class="ItemlineHead cardContent">Available Balance</div>
							<div class="ItemlineValueText cardContent">{{newclaim_balance | currency}}</div>
						</div>
					</div>
					<div>
						<div class="list">
							<p class=" ItemlineHead1 Select-Float" ng-show="floatlabel">Select Bank Account</p>
							<label class="item item-input item-select formselect bgnew "  ng-class="{ 'has-errors' :myForm.selectPayee.$dirty && myForm.selectPayee.$invalid,'no-errors' :myForm.selectPayee.$valid }">
								<span class="input-label bgnew">
									select
								</span>
								<select class="bgnew" name="selectPayee" ng-model="provideracoinde.selectpayee" ng-options="pay.VENDOR_NAME for pay in payee" ng-change="SelectFloat()" required>
									<option selected disabled value="" class="ItemlineHead1"> Select Payee</option>
								</select>
							</label>
							<div class="row">
								<span style="color:red" ng-show="myForm.selectPayee.$dirty && myForm.selectPayee.$invalid">
									<span ng-show="myForm.selectPayee.$error.required"> Payee is required.</span>
								</span>
							</div>			

							<label class="item item-input item-floating-label formselect " ng-class="{ 'has-errors' :myForm.amount.$dirty && myForm.amount.$invalid ,'no-errors' :myForm.amount.$valid   }">
								<span class="input-label ItemlineHead1">Enter Amount</span>	
								<input type="number"   id="forminput" name="amount" ng-model="provideracoinde.amount" placeholder="Enter Amount"  required>
							</label> 
							<div class="row">
								<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
									<span ng-show="myForm.amount.$error.required"> Amount is required.</span>
									<p style="color:Red" ng-show=" myForm.amount.$error.number">Please Enter Number's Only.</p>	 
								</span>
							</div>

							<label class="item item-input  item-floating-label formselect" ng-class="{ 'has-errors' :myForm.starttransaction.$dirty && myForm.starttransaction.$invalid  ,'no-errors' :myForm.starttransaction.$valid  }">
								<span class="input-label ItemlineHead1">Enter Start Transaction Date</span>	
								<input type="text" ng-click="getTransDate()" class="bgnew" name="starttransaction" ng-model="provideracoinde.startTransDate"  id="forminput" placeholder="Enter start Transaction Date"  ng-readonly="true" required>
							</label>
							<div class="row">
								<span style="color:red" ng-show="myForm.starttransaction.$dirty && myForm.starttransaction.$invalid">
									<span ng-show="myForm.starttransaction.$error.required"> Start Transaction Date is required.</span>
								</span>
							</div>

							<label class="item item-input  item-floating-label formselect" ng-class="{ 'has-errors' :myForm.endtransaction.$dirty && myForm.endtransaction.$invalid  ,'no-errors' :myForm.endtransaction.$valid  }">
								<span class="input-label ItemlineHead1">Enter End Transaction Date</span>
								<input type="text" ng-click="EndgetTransDate()" class="bgnew" name="endtransaction" ng-model="provideracoinde.endTransDate"  id="forminput" placeholder="Enter End Transaction Date"  ng-readonly="true" required>
							</label>
							<div class="row">
								<span style="color:red" ng-show="myForm.endtransaction.$dirty && myForm.endtransaction.$invalid">
									<span ng-show="myForm.endtransaction.$error.required"> End Transaction Date is required.</span>
								</span>
							</div>
							
							<div>
								<label class="item item-input item-floating-label formselect" ng-class="{ 'has-errors' :myForm.description.$dirty && myForm.description.$invalid  ,'no-errors' :myForm.description.$valid  }">
									<span class="input-label ItemlineHead1">Enter Description</span>	
									<input type="text"   id="forminput" name="description" ng-model="provideracoinde.description" ng-pattern="/^[a-zA-Z0-9\w -]*$/" placeholder="Description"  required>
								</label> 
								<div class="row">
									<span style="color:red" ng-show="myForm.description.$dirty && myForm.description.$invalid">
										<span ng-show="myForm.description.$error.required"> Description is required.</span>
										<p style="color:red" ng-show="myForm.description.$error.pattern"> Please Enter Text.</p>
									</span>
								</div>
							</div>
							
							<div class="row">
								<div class="col  text-center">
									<button class="button  button-calm button-small  formButton1" type="submit " ng-click="upload();" ><i side="left"  class="icon-left ion-android-upload" ></i><span class="icon-upload">Upload</span></button>
								</div> 
							</div> 

							<div ng-repeat="image in imgSrc">
								<div class="row" >
									<div class="col text-center">
										<img ng-src="{{image}}" id="receipt"  ng-click="deleteimg($index)"/>
										<input type="hidden" name="imgValue" ng-value="imgSrc" ng-model="provideracoinde.imgValue">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col text-center">
									<button class="button button-calm button-small formButton1" ng-disabled="myForm.$invalid" ng-click="submitValues(); myForm.$setPristine()" type="submit">SUBMIT</button>
								</div> 
							</div> 
						</div>
					</div>
				</div>
			</div>
		</form>
    </ion-content>
</ion-view>