<ion-header-bar id="headerborder" class="headerborder">
	<div class="home-head2 " ng-click="goback();">
		<i ng-click="goback();" class="ion ion-arrow-left-c back-icon"></i>
    </div>
    <div class="home-head2 ">
		<p class="headertitle">Contact Us</p>
	</div>
</ion-header-bar>
   <style>
		h4{
			margin-top: 0px !important;
		}
		
		@media screen and (max-width: 558px) {
			h4.wrap{
				word-wrap: break-word;
				width:60%;
			}
		}
		a,a:focus,a:hover,a:active{
			color: #000 !important;
		}
	 </style>
	 
<ion-view>
	<ion-content class="bgnew">
		<div class="row responsive-sm">
			<div class="col col-90 center">
				<div style="margin-top:30px">
					<div class="row">
						<div>
							<img src="img/call1.png" style="height:40px;width:40px"> 
						</div>
						<div  class="contact-content" >
							<h4 class="contactfont"><a href="tel: 800.617.4729">Toll Free Phone : 800.617.4729</a></h4>
							<h4 class="contactfont">Toll Free Fax : 877.517.4729</h4>
						</div>
					</div>
					
					<br>
					
					<div class="row ">
						<div>
							<img src="img/gmail1.png" style="height:40px;width:40px"> 
						</div>
						<div class="contactfont contact-content " style="word-wrap: break-word;" >
							<h4 class="contactfont wrap"><a href="mailto:customer.service@sterlingadministration.com">customer.service@sterlingadministration.com</a></h4>
						</div>
					</div>

					<br>

					<div class="row">
						<div >
							<img src="img/location1.png" style="height:40px;width:40px"> 
						</div>
						<div class="contactfont contact-content"  >
							<h4 class="contactfont">Sterling Administration</h4>
							<h4 class="contactfont">1000 Broadway, Suite 250 </h4>
							<h4 class="contactfont">Oakland,CA 94607</h4>
							<h4 class="contactfont">Address Correspondence to</h4>
							<h4 class="contactfont">P.O Box 71107</h4>
							<h4 class="contactfont">Oakland,CA 94612</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>