<ion-content hide-nav-bar="true" on-swipe-right="goBack()" on-swipe-left="goforward()" class="bgnew tab-Content" >
	<div class="padding" >
		<div class="list">
			<a class="item menu-height shadow item-avatar" href="#information">
				<img src="img/home/us.svg" style="margin-top:32px;">
				<div class="home-head menu-head">Account Information</div>
				<div class="row no-padding row-border">
					<div class="col">
						<div class="readMore1">View Account <i class="ion-chevron-right"></i></div>
					</div>
				</div>
			</a>
			
			<a class="item menu-height shadow item-avatar menupadding"  href="#availablebalance">
				<img src="img/home/Availabile_Balance.svg" style="margin-top:32px;">
				<div class="home-head menu-head"> Available Balance</div>
				<div class="row no-padding row-border">
					<div class="col">
						<div class="readMore1">View Balance <i class="ion-chevron-right"></i></div>
					</div>
				</div>
			</a>
			
			<span class="item menu-height shadow item-avatar menupadding">
				<img src="img/new/Last5contributions1.png" style="margin-top:32px;">
				<a href="#fsacontribution"><div class="home-head menu-head">Recent Account Activity</div></a>
				<div class="row no-padding row-border" >
					<div class="col colvertical" style="border-left-color:#000">
						<a href="#lastcontribution"><div class="head_detail">Contribution</div></a>
					</div>
					<div class="col">
						<a href="#lastdisbursement"><div class="head_detail">Disbursement</div></a>
					</div>
				</div>		
			</span>
			
			<span class="item menu-height shadow item-avatar menupadding">
				<img src="img/home/ad-client.svg" style="margin-top:32px;">
					<a href="#fsapayme"><div class="home-head menu-head"> New Claim Request</div></a>
				<div class="row no-padding row-border" >
					<div class="col colvertical" >
						<a href="#new"><div class="head_detail">Pay Me</div></a>
					</div>
					<div class="col">
						<a href="#fsapayprovider"><div class="head_detail" >Pay Provider</div></a>
					</div>
				</div>	
			</span>
		</div>
		<!--
		This bellow coding used for shwoing all the content 
		-->
	</div>
	<div style="height: 170px;"></div> 
</ion-content>