<ion-header-bar id="headerborder" class="headerborder">
	<div class="home-head2 "  ng-click="goback();">
		<i ng-click="goback();" class="ion ion-arrow-left-c back-icon"></i>
	</div>
	<div class="home-head2 ">
		<p class="headertitle">Health Savings Activity</p>
	</div>
</ion-header-bar>
 <style>
   .h{
      text-align: center;
      color:   #800000;

      
    }
    .div{
      text-align: center;
      padding: 25px;
    }
</style>
<ion-view>
  <ion-content scroll="false" class="bgnew">	
     <div class="div newTop">
		<a href="#activitystmnt" menu-close >
			<img src="img/home/Activity_statements.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Activity Statements</p>
		</a>
    </div>
     <div class="div">
		<a href="#taxyear" menu-close >
			<img src="img/home/Tax_statements.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Tax Statements</p>
		</a>
    </div>
  </ion-content>
</ion-view>