<ion-header-bar  class="headerborder" >
	<div class="home-head2 " ng-click="goback();">
		<i ng-click="goback();" class="ion ion-arrow-left-c back-icon"></i>
	</div>
	<div class="home-head2 ">
		<p class="headertitle">HSA Statement</p>
	</div>
</ion-header-bar>
<ion-view>
	<ion-content class="bgnew">
		<div class="card">
				<div class="item ItemLinehr">
					<span class="ItemHeadLine">{{date.startDate}} To {{date.EndtDate}}</span>
				</div>
				<div class="item  itemleft ItemLinehr item-text-wrap">
					
					<div class="ItemlineHead cardContent">You are currently enrolled in</div>
					<div class="ItemlineValueText cardContent">{{summary.COVERAGE_LEVEL}}</div>
				</div>
				
				<div class="item  itemleft  item-text-wrap">
					
					<div class="ItemlineHead cardContent">Based on this coverage you may be eligible to contribute an additional </div>
					<div class="ItemlineValueText cardContent">$2,285.04 for the year 2016 tax year.</div>
				</div>
				
		</div>
		<div class="card" >
				<div class="item ItemLinehr item-text-wrap">
					<span class="ItemHeadLine">{{summary.A_YEAR}} IRS Annual Contribution Limits</span>
				</div>
				<div class="item item-avatar itemleft ItemLinehr">
					<img src="img/item/Total-contribution.png" class="item-Image">
					<div class="ItemlineHead cardContent">Single Coverage </div>
					<div class="ItemlineValueText cardContent">${{summary.INDIVIDUAL_LIMIT}}</div>
				</div>
				
				<div class="item item-avatar itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image">
					<div class="ItemlineHead cardContent">Family Coverage </div>
					<div class="ItemlineValueText cardContent">${{summary.FAMILY_LIMIT}}</div>
				</div>
				<div class="item item-avatar itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image">
					<div class="ItemlineHead cardContent">* Catch-Up Contribution </div>
					<div class="ItemlineValueText cardContent">${{summary.CATCHUP_LIMIT}}</div>
				</div>
				
		</div>
		<div class="card" >
				<div class="item ItemLinehr ">
					<span class="ItemHeadLine">Account Summary</span>
				</div>
				<div class="item item-avatar itemleft  item-text-wrap ItemLinehr">
					<img src="img/item/account_balance.png" class="item-Image1">
					<div class="ItemlineHead cardContent">Beginning Account Balance </div>
					<div class="ItemlineValueText cardContent">${{summary.BEGINNING_BALANCE}}</div>
				</div>
				
				<div class="item item-avatar  item-text-wrap itemleft">
					<img src="img/item/account_balance.png" class="item-Image">
					<div class="ItemlineHead cardContent">Ending  Account Balance </div>
					<div class="ItemlineValueText cardContent">${{summary.ENDING_BALANCE}}</div>
				</div>
				<div class="item item-avatar  item-text-wrap itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image1">
					<div class="ItemlineHead cardContent">Available for Disbursement* </div>
					<div class="ItemlineValueText cardContent">${{summary.DISBURSABLE_BALANCE}}</div>
				</div>
				<div class="item item-avatar itemleft">
					<img src="img/item/account_balance.png" class="item-Image">
					<div class="ItemlineHead cardContent">Interest Earned</div>
					<div class="ItemlineValueText cardContent">${{summary.INTEREST}}</div>
				</div>
				<div class="item item-avatar itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image">
					<div class="ItemlineHead cardContent">Qualified Disbursements </div>
					<div class="ItemlineValueText cardContent">${{summary.QUAL_DISB_AMOUNT}}</div>
				</div>
				<div class="item item-avatar  item-text-wrap itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image1">
					<div class="ItemlineHead cardContent">Non-Qualified  Disbursements</div>
					<div class="ItemlineValueText cardContent">${{summary.NQUAL_DISB_AMOUNT}}</div>
				</div>
				<div class="item item-avatar  item-text-wrap itemleft">
					<img src="img/item/account_balance.png"  class="item-Image1">
					<div class="ItemlineHead cardContent">Outside Investment Balance</div>
					<div class="ItemlineValueText cardContent">${{summary.OUTSIDE_INV_BAL}}</div>
				</div>
				
		</div>
		<div class="card" >
				<div class="item ItemLinehr ">
					<span class="ItemHeadLine">2016 Activity Summary</span>
				</div>
				<div class="item item-avatar itemleft ItemLinehr">
					<img src="img/item/Total-contribution.png" class="item-Image">
					<div class="ItemlineHead cardContent">Total Contributions</div>
					<div class="ItemlineValueText cardContent">${{summary.TOTAL_CONTRIBUTION}}</div>
				</div>
				
				<div class="item item-avatar itemleft"> 
					<img src="img/item/Total-contribution.png" class="item-Image">
					<div class="ItemlineHead cardContent">Employer Contribution </div>
					<div class="ItemlineValueText cardContent">$0.00</div>
				</div>
				<div class="item item-avatar itemleft">
					<img src="img/item/Total-contribution.png" class="item-Image">
					<div class="ItemlineHead cardContent">Employee Contribution </div>
					<div class="ItemlineValueText cardContent">$0.00</div>
				</div>
				<div class="item item-avatar itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image">
					<div class="ItemlineHead cardContent">Total Disbursements</div>
					<div class="ItemlineValueText cardContent">${{summary.TOTAL_ER_AMOUNT}}</div>
				</div>
				<div class="item item-avatar  item-text-wrap itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image1">
					<div class="ItemlineHead cardContent">Non-Qualified Disbursements </div>
					<div class="ItemlineValueText cardContent">${{summary.NQUAL_DISB_AMOUNT}}</div>
				</div>
				<div class="item item-avatar itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image">
					<div class="ItemlineHead cardContent">Qualified Disbursements</div>
					<div class="ItemlineValueText cardContent">${{summary.QUAL_DISB_AMOUNT}}</div>
				</div>
				
		</div>
		<div class="card" ng-repeat="data in activity_list" >
				<div class="item ItemLinehr ">
					<span class="ItemHeadLine">Activity List</span>
				</div>
				<div class="item item-avatar itemleft ItemLinehr">
					<img src="img/item/dateicon.png" class="item-Image">
					<div class="ItemlineHead cardContent">Date</div>
					<div class="ItemlineValueText cardContent">{{data.TRANSACTION_DATE}}</div>
				</div>
				
				<div class="item item-avatar itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image">
					<div class="ItemlineHead cardContent">Code </div>
					<div class="ItemlineValueText cardContent">{{data.EXPENSE_CODE}}</div>
				</div>
				<div class="item item-avatar itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image">
					<div class="ItemlineHead cardContent">Description </div>
					<div class="ItemlineValueText cardContent">{{data.DESCRIPTION}}</div>
				</div>
				<div class="item item-avatar  item-text-wrap itemleft">
					<img src="img/item/account_balance.png" class="item-Image1">
					<div class="ItemlineHead cardContent">Total Receipt Amount</div>
					<div class="ItemlineValueText cardContent">{{data.TOTAL_RECEIPT_AMOUNT}}</div>
				</div>
				<div class="item item-avatar  item-text-wrap itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image1">
					<div class="ItemlineHead cardContent">Total Disbursement Amount </div>
					<div class="ItemlineValueText cardContent">{{data.TOTAL_DISB_AMOUNT}}</div>
				</div>
				<div class="item item-avatar itemleft">
					<img src="img/item/account_balance.png" class="item-Image">
					<div class="ItemlineHead cardContent">Account Balance</div>
					<div class="ItemlineValueText cardContent">{{data.ACC_BALANCE}}</div>
				</div>
				<div class="item item-avatar itemleft">
					<img src="img/item/account_balance.png" class="item-Image">
					<div class="ItemlineHead cardContent">Fee Balance</div>
					<div class="ItemlineValueText cardContent">{{data.FEE_BALANCE}}</div>
				</div>
				
		</div>
		<div class="card" >
				<div class="item ItemLinehr item-text-wrap">
					<span class="ItemHeadLine">Activity List</span>
				</div>
				<div class="item item-avatar itemleft  item-text-wrap ItemLinehr">
					<img src="img/item/Total-contribution.png" class="item-Image1">
					<div class="ItemlineHead cardContent">Current Year Contribution</div>
					<div class="ItemlineValueText cardContent">${{summary.CURRENT_YR_CONTRIB}}</div>
				</div>
				
				<div class="item item-avatar  item-text-wrap itemleft">
					<img src="img/item/Total-disburesment.png" class="item-Image1">
					<div class="ItemlineHead cardContent">Previous Year Contribution </div>
					<div class="ItemlineValueText cardContent">${{summary.PREVIOUS_YR_CONTRIB}}</div>
				</div>
				<div class="item item-avatar  item-text-wrap itemleft">
					<img src="img/item/account_balance.png" class="item-Image1">
					<div class="ItemlineHead cardContent">Total Transaction Fees Paid</div>
					<div class="ItemlineValueText cardContent">${{summary.TXN_FEE_PAID}}</div>
				</div>
				<div class="item item-avatar  item-text-wrap itemleft">
					<img src="img/item/account_balance.png" class="item-Image1">
					<div class="ItemlineHead cardContent">Total Administration Fees Paid</div>
					<div class="ItemlineValueText cardContent">${{summary.ADMIN_FEE_PAID}}</div>
				</div>
		</div>  
	</ion-content>
</ion-view>