<ion-header-bar class="headerborder" > 
	 <div class="home-head2 " ng-click="goback();">
		<i  class="ion ion-arrow-left-c back-icon"></i>
    </div>
    <div class="home-head2 ">
		<p class="headertitle">Pay Provider</p>
	</div> 
</ion-header-bar>
	<style>
		input[type=text]:focus {
			box-shadow: -8px 10px 0px -7px #5FBA7D, 8px 10px 0px -7px #5FBA7D;
		}
	</style>

<ion-view>
	<ion-content class="bgnew">
		<form name="myForm" >
			<div class="hide row">
				<div class="col col-center">
				  <h3 class="h"></h3> 
				</div>
			</div>
		  
			<div class="row responsive-sm">
				<div class="col col-75 center">
					<div class="card" >
						<div class="item item-avatar">
							<img src="img/item/account_balance.png">
							<div class="ItemlineHead cardContent">Available Balance</div>
							<div class="ItemlineValueText cardContent">{{availablebalance | currency}}</div>
						</div>
					</div>

					<div class="list ">
						<p class=" ItemlineHead1 Select-Float" ng-show="floatlabel">Select Payee</p>
						<label class="item item-input item-select formselect bgnew"  ng-class="{ 'has-errors' :myForm.selectPayee.$dirty && myForm.selectPayee.$invalid,'no-errors' :myForm.selectPayee.$valid }">
							<span class="input-label bgnew">
							select
							</span>
							<select class="bgnew" name="selectPayee" ng-model="payprovierValues.selectPayee" ng-options="pay.VENDOR_NAME for pay in payee" ng-change="SelectFloat()" required>
							<option selected disabled value="" class="ItemlineHead1"> Select Payee</option>
							</select>
						</label>
						<div class="row">
							<span style="color:red" ng-show="myForm.selectPayee.$dirty && myForm.selectPayee.$invalid">
								<span ng-show="myForm.selectPayee.$error.required"> Payee is required.</span>
							</span>
						</div>				 

						<label class="item item-input item-floating-label formselect "  ng-class="{ 'has-errors' :myForm.amount.$dirty && myForm.amount.$invalid ,'no-errors' :myForm.amount.$valid   }">
							<span class="input-label ItemlineHead1">Enter Amount</span>
							<input type="number"   id="forminput " name="amount" ng-model="payprovierValues.amount" placeholder="Enter Amount"  ng-pattern='\\d+' required>
						</label> 
						<div class="row">
							<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
								<span style="color:red" ng-show="myForm.amount.$error.required"> Amount required.</span> 
								<p style="color:Red" ng-show=" myForm.amount.$error.number">Please Enter Number's Only.</p>
							</span>
						</div>

						<label class="item item-input item-floating-label formselect"  ng-class="{ 'has-errors' :myForm.transaction.$dirty && myForm.transaction.$invalid ,'no-errors':myForm.transaction.$valid }">
							<span class="input-label ItemlineHead1 ">
								Enter Transaction Date
							</span>
							<input type="text"  ng-focus="getTransDate()" name="transaction" class="bgnew" ng-model="payprovierValues.TransDate"  id="forminput "  placeholder="Enter Transaction Date" ng-readonly="true" required>
						</label>
						<div class="row">
							<span style="color:red" ng-show="myForm.transaction.$dirty && myForm.transaction.$invalid">
								<span ng-show="myForm.transaction.$error.required"> Transaction Date is required.</span>
							</span>
						</div>			

						<label class="item item-input item-floating-label formselect "  ng-class="{ 'has-errors' :myForm.patient.$dirty && myForm.patient.$invalid ,'no-errors' :myForm.patient.$valid }" >
							<span class="input-label ItemlineHead1">Enter Patient Name</span>
							<input type="text"  name="patient" ng-model="payprovierValues.patient" id="forminput"  ng-pattern="/^[a-zA-Z\w -]*$/" placeholder="Enter Patient Name"  required>
						</label> 
						<div class="row">
							<span style="color:red" ng-show="myForm.patient.$dirty && myForm.patient.$invalid">
								<span ng-show="myForm.patient.$error.required"> Patient Name is required.</span>
								<p style="color:red" ng-show="myForm.patient.$error.pattern"> Please Enter Text.</p>
							</span>
						</div>

						<label class="item item-input  item-floating-label formselect" ng-class="{ 'has-errors' :myForm.description.$dirty && myForm.description.$invalid  ,'no-errors' :myForm.description.$valid  }">
							<span class="input-label ItemlineHead1">Enter Description</span>
							<input type="text"   name="description" ng-model="payprovierValues.description" ng-pattern="/^[a-zA-Z0-9 .,\w -]*$/" id="forminput" placeholder="Enter Description"  required>
						</label>
						<div class="row">
							<span style="color:red" ng-show="myForm.description.$dirty && myForm.description.$invalid">
								<span ng-show="myForm.description.$error.required"> Description is required.</span>
								<p style="color:red" ng-show="myForm.description.$error.pattern"> Please Enter Text.</p>
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col text-center">
							<button class="button button-calm button-small  formButton1" type="submit " ng-click="upload();" ><i side="left"  class="icon-left ion-android-upload" ></i><span class="icon-upload">Upload</span></button>
						</div> 
					</div> 
					
					<div class="row" >
						<div class="col text-center">
							<img ng-src="{{imgSrc}}" id="receipt"  />
							<input type="hidden" name="imgValue" ng-value="imgSrc" ng-model="payprovierValues.imgValue">
						</div>
					</div>

					<div class="row">
						<div class="col text-center">
							<button class="button button-calm button-small formButton1" ng-click="submitValue(); myForm.$setPristine()"  ng-disabled="myForm.$invalid"  type="submit">SUBMIT</button>
						</div> 
					</div> 
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>