<ion-content hide-nav-bar="true" on-swipe-right="goBack()" on-swipe-left="goforward()" class="bgnew tab-Content" >
	<div class="padding" >
		<div class="list">
			<a class="item menu-height shadow item-avatar" href="#cobraaccount">
				<img src="img/home/us.svg" style="margin-top:32px;">
				<div class="home-head menu-head">Account Information</div>
				<div class="row no-padding row-border">
					<div class="col">
						<div class="readMore1">View Account <i class="ion-chevron-right"></i></div>
					</div>
				</div>
			</a>
		</div>
		<div class="list">
			<a class="item menu-height shadow item-avatar" href="#cobrapayment">
				<img src="img/new/Last5contributions1.png" style="margin-top:32px;">
				<div class="home-head menu-head">Last 5 COBRA Payments</div>
				<div class="row no-padding row-border">
					<div class="col">
						<div class="readMore1">View Payments <i class="ion-chevron-right"></i></div>
					</div>
				</div>
			</a>
		</div>
	</div>
</ion-content>