 <ion-header-bar id="headerborder" class="headerborder">
	  <div class="home-head2 " ng-click="goback();">
		  <i ng-click="goback();" class="ion ion-arrow-left-c back-icon"></i>
      </div>
      <div class="home-head2">
		  <p class="headertitle">New Claim Request</p>
	  </div>
</ion-header-bar>
	<style>
		.div{
			text-align: center;
			padding: 25px;
		}
	</style>
<ion-view>
  <ion-content scroll="false" class="bgnew">    
      <div class="div newTop"> 
		    <a href="#/new" >
			  <img src="img/home/Pay_me.svg" style="height: 100px; width: 100px;">
				<p class="home-head">Pay Me</p>
		   </a>
      </div>
      <div class="div">
		   <a href="#/fsapayprovider">
			    <img src="img/home/Pay_provider.svg" style="height: 100px; width: 100px;">
				<p class="home-head">Pay Provider</p>
		   </a>
      </div>
  </ion-content>
</ion-view>